



Digital Emblems                                                F. Linker
Internet-Draft                                              16 June 2025
Intended status: Informational                                          
Expires: 18 December 2025


                    DIEM Use Cases and Requirements
                 draft-linker-diem-requirements-latest

Abstract

   TODO Abstract

About This Document

   This note is to be removed before publishing as an RFC.

   The latest revision of this draft can be found at
   https://felixlinker.github.io/diem-requirements/draft-linker-diem-
   requirements.html.  Status information for this document may be found
   at https://datatracker.ietf.org/doc/draft-linker-diem-requirements/.

   Discussion of this document takes place on the Digital Emblems
   Working Group mailing list (mailto:diem@ietf.org), which is archived
   at https://mailarchive.ietf.org/arch/browse/diem.  Subscribe at
   https://www.ietf.org/mailman/listinfo/diem/.

   Source for this draft and an issue tracker can be found at
   https://github.com/felixlinker/diem-requirements.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on 18 December 2025.

Copyright Notice

   Copyright (c) 2025 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents (https://trustee.ietf.org/
   license-info) in effect on the date of publication of this document.
   Please review these documents carefully, as they describe your rights
   and restrictions with respect to this document.  Code Components
   extracted from this document must include Revised BSD License text as
   described in Section 4.e of the Trust Legal Provisions and are
   provided without warranty as described in the Revised BSD License.

Table of Contents

   1.  Introduction
   2.  Conventions and Definitions
   3.  Use Cases and Requirements for Initial Scope
     3.1.  Use Cases
     3.2.  Requirements
   4.  Other Use Cases and Requirements
     4.1.  Marking of Hazardous Materials
     4.2.  Marking of Brand-Associated Shipments
     4.3.  Marking of Civil Aviation Flights
   5.  Security Considerations
   6.  IANA Considerations
   7.  Normative References
   Acknowledgments
   Author's Address

1.  Introduction

   TODO Introduction

2.  Conventions and Definitions

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in
   BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all
   capitals, as shown here.

3.  Use Cases and Requirements for Initial Scope

3.1.  Use Cases

3.2.  Requirements

4.  Other Use Cases and Requirements

   Use cases listed in the Section will not be addressed within the
   initial scope of DIEM.  They are listed here for documentation and
   future reference.  The requirements of these use cases are not
   complete and would need to be investigated further when addressing
   the use cases.

4.1.  Marking of Hazardous Materials

   The Organization for the Prohibition of Chemical Weapons (OPCW), the
   International Atomic Energy Agency (IAEA), and the Basel Convention
   require that certain, dangerous materials are marked during shipment.
   Concretely:

   *  The OPCW requires marking of Schedule 1 chemicals.

   *  The IAEA administers several treaties related to the shipment of
      atomic fuels and wasters across borders.

   *  The Basel Convention regulates the trans-boundary movement of
      hazardous wastes.

   An emblem MUST provide a description, location, date, and quantity.
   The description MUST be accessible only by authorized parties, e.g.,
   customs agencies or material handlers.

4.2.  Marking of Brand-Associated Shipments

   World Intellectual Property Organization (WIPO) administers treaties,
   in particular the Madrid Protocol, that allow brands to mark their
   shipments with an emblem so that customs agents can identify
   legitimate products.

   An emblem MUST identify the copyright/brand image, provide a textual
   description of the shipment, and a chain-of-custody/provenance.

4.3.  Marking of Civil Aviation Flights

   The International Civil Aviation Organization (ICAO) requires that
   civil aviation flights are protected and that one can verify them to
   not be dual-use, e.g., not carrying military cargo.

   An emblem MUST carry a geographic description of the flight plan, its
   current location, and a textual description of the flight including
   its manifest, identifying characteristics, e.g., tail number.  An
   emblem may need to also reference a flight manifest.

5.  Security Considerations

   TODO Security

6.  IANA Considerations

   This document has no IANA actions.

7.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/rfc/rfc2119>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/rfc/rfc8174>.

Acknowledgments

   TODO acknowledge.

Author's Address

   Felix Linker
   Email: linkerfelix@gmail.com
